@import './sharedStyles';

.LxEditPanel {
  position: fixed;
  z-index: 1000;  // Hope this is high enough--depends on the host app
  border-radius: 4px;
  border: thin solid $gray_25;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: $lexicon_editor_background;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  visibility: hidden;
  opacity: 0;
  transition: 0.1s visibility, 0.1s opacity, 0.1s position;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  &.docked-left {
    width: 30vw;
    height: calc(100vh - 16px);
    top: 8px;
    left: 8px;
  }

  &.docked-right {
    width: 30vw;
    height: calc(100vh - 16px);
    top: 8px;
    right: 8px;
  }

  &.docked-bottom {
    width: calc(100vw - 32px);
    height: 30vh;
    left: 8px;
    bottom: 8px;
  }

  hgroup {
    flex: 0 0 auto; // make small at top
    display: flex; // layout title and position buttons within
    flex-direction: row;

    .wrapper-heading {
      @include lexicon-font;

      & {
        display: inline;
        margin: 5px 0;
        padding-left: 10px;
        font-size: 16px;
        flex: auto;
      }
    }

    .position {
      flex: 0 0 auto;

      label {
        color: $gray_50;
        font-size: 20px;
        cursor: pointer;
        padding: 2px 6px;

        &.selected {
          color: $gray_25;
        }

        &:hover {
          background-color: $clickable;
          border-radius: 20px;
        }

        input {
          display: none;
        }
      }
    }

    .close-btn {
      font-size: 20px;
      cursor: pointer;
      padding: 0 8px;
      margin-bottom: 8px;

      &:hover {
        background-color: $clickable;
        border-radius: 20px;
      }
      button {
        display: none;
      }
    }
  }

  .LexiconEditor {
    flex: 1;
  }

  .save-box {
    flex: 0 0 auto;
    text-align: right;

    button {
      @include button;

      & {
        margin: 8px;
        width: 200px;
        background-color: $clickable;
      }

      &:disabled {
        background-color: $gray_75;
      }
    }
  }

  .error-message {
    padding: 4px;
    color: $dark_orange;
    font-size: 14px;
  }

  .resizer {
    background: $gray_75;
    position: absolute;
    z-index: $z-resizer;

    &.resizer-left {
      top: 0;
      right: 0;
      width: 3px;
      height: 100%;
      cursor: ew-resize;
    }

    &.resizer-right {
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      cursor: ew-resize;
    }

    &.resizer-bottom {
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      cursor: ns-resize;
    }
  }
}
