node_modules
latest.dump
.envrc
master.key

npm-package/build

server/builds
server/tmp
server/log
server/app/assets/builds
server/spec/examples.txt
server/public/assets
server/yarn-error.log

.prettierrc.json
.stylelintrc.js
.eslintrc.json
lint.py
.rubocop.yml

server/config/master.key
