node_modules
latest.dump
.envrc

.prettierrc.json
.stylelintrc.js
.eslintrc.json
lint.py
.rubocop.yml

npm-package/build
npm-package/coverage

server/app/assets/builds
server/builds
server/config/master.key
server/log
server/public/assets
server/spec/examples.txt
server/tmp
server/yarn-error.log


