body.welcome_controller.demo_action {

  .DemoComponent {
    background-color: #ddd;
    padding:  2px 10px;
  }

  h3 {
    font-size: 15px;
    font-weight: lighter;
    text-decoration: underline;
    color: #548291;
  }

  pre {
    font-size: 11px;
  }
}
