@import 'regular';

body.welcome_controller.edit_action {
  @include regular;

   main {
    padding-left: 20px;
    padding-right: 20px;
  }

  table.app_links {
    line-height: 2.0;
    width: 80%;

    tr {
      text-align: left;
    }
  }
}
