<footer style=" margin: 40px -8px -8px -8px; justify-content: space-between;
">
  <div class="menu" style="display: flex; justify-content: space-between; align-items: center; padding: 15px; background-color: #6A5ACD;">
    <h1 style="font-size: 24px; color: #87CEEB; margin: 0; letter-spacing: 6px; text-shadow: 1px 1px 2px #D3D3D3;">
      LEXICON
    </h1>
    <p style="color: #e0e0e0; margin: 0;">&copy; 2024 Nitidbit. All rights reserved.</p>
  </div>
</footer>
