<%= render 'masthead' %>

<%
  require 'lexicon'
  lexicon = Lexicon.new('app/views/welcome/demo.json')
%>
<%= stylesheet_link_tag('demo') %>
<%= javascript_include_tag('demo') %>

<h1> <%= lexicon.get('title') %> </h1>

