<%= render 'masthead' %>

<%
  require 'lexicon'
  lexicon = Lexicon.new('app/views/welcome/demo.json')
%>
<%= javascript_include_tag('DemoComponent') %>
<%= stylesheet_link_tag('DemoComponent') %>

<h1> <%= lexicon.get('title') %> </h1>

<div class="placeholder-DemoComponent"></div>

