<%= render 'masthead' %>
<%= render 'menu' %>


<%= javascript_include_tag('DemoMultipleProviders') %>
<%#= stylesheet_link_tag('DemoMultipleProviders') %>

<h1> Demo Multiple Providers </h1>

<div class="placeholder-DemoMultipleProviders"></div>

