<%= render 'masthead' %>

<%= javascript_include_tag('DemoComponent') %>
<%= stylesheet_link_tag('DemoComponent') %>

<h1> React Demo page </h1>
<div class="placeholder-DemoComponent"></div>


<h1> Examle using LxEditPanel page </h1>
<div class="placeholder-LxEditPanelExample"></div>

