<div style="display: flex; align-items: center; justify-content: center; gap: 10px">
  <%= image_tag 'lexicon_icon.png', alt: 'lexicon content management system icon', style: "max-width: 90px; " %>
  <h1>Lexicon: The CMS Built for Developers Who Love Git</h1>
</div>

<p style="line-height: 16px;">
Tired of clunky CMS systems that don’t fit your workflow? Meet Lexicon — the content management solution that stores your content right alongside your code, directly in Git.

<br>
<br>
No more juggling databases or syncing environments. With Lexicon, you’ll get:
<br>

<ul>
<li><b>Seamless Integration</b>: Manage content with the same tools you use to write code.
<li><b>Instant Version Control</b>: Track every change with Git—just like you would with code.
<li><b>Easy Setup & Usage</b>: Simple to install, even easier to use. Edit content directly in your app and push changes in minutes.
</ul>

Install Lexicon today and reclaim the joy of a CMS that actually works for developers.
<br>
<br>

<div style="text-align: center">
  <%= image_tag 'lexicon_diagram.jpg', alt: 'lexicon content management system diagram with seamless integration, instant version control, and easy setup and usage', style: "width: 400px; display: inline" %>
</div>
</p>
