// Place all the styles related to the Lexicon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black-text: #404040;

body {
  color: $black-text;
  font-family: helvetica, sanserif;
}
