body.clearance\/sessions_controller {

  label {
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
  }

  .submit-field {
    padding-left: 113px;

    input {
      width: 147px;
    }
  }
}
