@import './LexiconEditorStyles';

@mixin button {
  font-family: "Lucida Sans", "Lucida Grande", 'Lucida Sans Unicode', 'Lucida', Verdana, Arial, sans-serif;
  font-style: normal;
  text-decoration: none;
  color: white;
  background-color: #bfbfbf;
  padding: 2px 8px;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  body.windows & {
    font-family: 'Lucida Sans Unicode', 'Lucida', Verdana, Arial, sans-serif;
  }

  &:hover:not(:disabled) {
    color: white;
    background-color: $green;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.EditWrapper {
  .buttons {
    display: flex;
    justify-content: space-between;

    button.edit-wrapper-button, div.edit-wrapper-button, {
      @include button;
    }
  }

  .wrapped-lexicon-editor {
    position: fixed;
    border-radius: 4px;
    padding: 4px;
    border: thin solid #444;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: $lexicon_editor_background;
    overflow: hidden;
    box-sizing: border-box;

    visibility: hidden;
    opacity: 0;
    transition: 0.1s visibility, 0.1s opacity;

    &.is-visible {
      visibility: visible;
      opacity: 1;
    }

    &.docked-left {
      width: 30vw;
      height: calc(100vh - 16px);
      top: 8px;
      left: 8px;
    }

    &.docked-right {
      width: 30vw;
      height: calc(100vh - 16px);
      top: 8px;
      right: 8px;
    }

    &.docked-bottom {
      width: calc(100vw - 16px);
      height: 30vh;
      left: 8px;
      bottom: 8px;
    }

    .wrapper-heading {
      display: inline;
      margin: 5px 0;
      padding-left: 10px;
      font-size: 16px;
    }

    button {
      @include button;
//       color: grey;
      background-color: $clickable;

      &:disabled {
        background-color: $gray_80;
      }
    }
  }
}
