<div id="masthead_partial">

  <nav class="masthead">
    <h1> Lexicon Server </h1>

    <a href="/edit"> Apps to Edit </a>
    &nbsp; • &nbsp;
    <% if current_user.is_admin %>
      <a href="/admin/client_apps"> Admin </a>
      &nbsp; • &nbsp;
    <% end %>
    Welcome <%= current_user.email %>
    &nbsp; • &nbsp;
    <%= button_to 'Sign out', sign_out_path, method: :delete %>
  </nav>

  <% if notice.present? %>
    <div class="flash_notice"> <%= notice %></div>
  <% end %>
  <% if alert.present? %>
    <div class="flash_alert"> <%= alert %></div>
  <% end %>
</div>

